
body {
  width: 80%;
  min-width: 800px;
  margin: 0 auto;
}

h1{
  font-family: 'Cinzel Decorative', cursive;
  color: #2a2a2a;
}

p, input, li {
    text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: rgb(221, 21, 21);
  text-shadow: 2px 2px 10px black;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color:black;
}
p, li {
  font-size: 1.6rem;
  line-height: 1.5;
}

header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
}

main, header, nav, article, aside, footer, section {
  background-color: black;
  padding: 1%;
}

h1 {
  flex: 5;
  text-transform: uppercase;
}

nav {
  height: 50px;
  flex: 100%;
  display: flex;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a, nav span {
  display: inline-block;
  font-size: 2rem;
  height: 3rem;
  line-height: 1.7;
  text-transform: uppercase;
  text-decoration: none;
  color: black;

}

main {
  display: flex;
}

footer {
  margin-top: 10px;
}

a {
    color:rgb(182, 182, 182);
}


.carousel {
  margin-top: .5em;
  margin-bottom: .5em;
  }
 .jumbotron {
    background-color:rgba(61, 60, 60, 0.726);
    color:rgb(253, 246, 246);
  }
  .card {
      background-color:rgba(172, 4, 4, 0.705);
      display: flex;
      flex-wrap: wrap;
  }

  h5 {
      color:rgb(253, 246, 246);
      letter-spacing: 1px;
  }

  p {
      color:rgb(253, 246, 246);
      letter-spacing: .5px;
  }